/* dashboard.css */
.dashboard-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    height: 100%;
    min-height: 100%;
    background-color: rgba(95, 180, 92, 0.5);
    background-blend-mode: multiply;
    background-image: url('../background.jpg');
}

.geri-donusum-bilgileri-container {
    width: 90%;
    border-radius: 10px;
    min-height: 70%;

}


.resim-yukleme-alani-container {
    width: 90%;
    padding: 30px;
    position: relative;
    z-index: 10;
    min-height: 30%;
    height: 100%;
}


.geri-donusum-bilgileri {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    align-items: stretch;
    height: 100%;
}

.geri-donusum-item {
    flex: 0 1 33%;
    text-align: center;
    border: 1px solid #ddd;
    margin: 15px;
    border-radius: 10px;

    background-color: #d0deca;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 20px;
    transition: transform 0.3s ease;
}



.geri-donusum-resim {
    width: 120px;
    height: 120px;
    object-fit: contain;
    margin-bottom: 15px;
    border-radius: 50%;
}



.resim-yukleme-alani {
    text-align: center;
    width: 100%;
    padding: 20px;
    border: none;
    border-radius: 8px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: none;
    box-sizing: border-box;
    position: relative;
}

.resim-yukleme-alani input[type="file"],
.resim-yukleme-alani button {
    display: inline-block;
    padding: 12px 25px;
    background-color: #d0deca;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
    color: #333;
    transition: background-color 0.3s ease, transform 0.2s ease;
    position: relative;
    overflow: hidden;
}

.resim-yukleme-alani input[type="file"]:hover::before,
.resim-yukleme-alani button:hover {
    background-color: #e0e0e0;
    transform: scale(1.05);
}

.resim-yukleme-alani input[type="file"] {
    opacity: 1;
    background-color: #f0f0f0;
}

.resim-yukleme-alani .file-name {
    font-size: 1rem;
    padding: 10px;
    opacity: 0.9;
    border-radius: 8px;
    width: 50%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80%;
}

.geri-donusum-item h3 {
    color: #185f0f;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.geri-donusum-item p {
    color: #333;
    line-height: 1.6;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.expand-button {
    background-color: rgba(24, 94, 15, 0.2);
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    color: #185e0f;
    margin-top: 10px;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.expand-button:hover {
    background-color: rgba(24, 94, 15, 0.4);
    transform: scale(1.05);
}

.progress-bar-container {
    width: 80%;
    margin: 20px auto;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
}

.progress-bar {
    height: 25px;
    background-color: #4CAF50;
    width: 0%;
    transition: width 0.3s ease;
}

.tahmin-sonucu {
    margin: 20px auto;
    text-align: center;
    background-color: #cce8c3;
    opacity: 0.9;
    min-width: 30vw;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.file-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 8px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
}

.file-name {
    font-size: 1rem;
    color: #2e2e2e;
    font-weight: 500;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
}

.remove-file-button {
    background-color: #ff4d4d;
    color: rgb(22, 1, 1);
    border: none;
    padding: 8px 15px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin: 0;
}

.remove-file-button:hover {
    background-color: #e63946;
    transform: scale(1.05);
}