.custom-footer {
    background-color: rgba(76, 88, 76, 0.5);
    background-blend-mode: multiply;
    color: #515351;
    min-height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    font-size: 0.9rem;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.custom-footer p {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.social-icons {
    position: absolute;
    right: 2rem;
    display: flex;
    gap: 1rem;
}

.social-icons a {
    color: #515351;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #2d4a2d;
}