.login-header {
    background-color: #185f0f;
    min-height: 3vh;
    display: flex;
    padding-bottom: 0.5rem;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    position: sticky;


    color: rgb(228, 221, 221);


    top: 0;
    z-index: 100;
    box-sizing: border-box;


}

.login-header h1 {
    margin: 0;
    font-size: 1.5rem;
    margin-right: auto;
}

.login-header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.login-header nav ul li {
    margin-left: 1rem;
    padding-right: 50px;
}

.login-header nav ul li a {
    color: rgb(228, 221, 221);
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    padding: 0.5rem 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.login-header nav ul li a:hover {
    color: #b1abab;
}