.my-wastes-container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 88vh;
    background: linear-gradient(135deg,#C7D4BF 0%, #8FA98F 50%, #607360 100%);
    padding-bottom: 60px;
}





.wastes-table {
    background-color: #d0deca;
    width: 40%;
    border-collapse: collapse;
    margin-top: 20px;
}

.wastes-table th,
.wastes-table td {
    border: 1px solid #a89f9f;
    padding: 8px;
    text-align: left;
}

.wastes-table th {
    background-color: #607360;
    color: white;
}

.error-message {
    text-align: center;
    padding: 20px;
    color: #d32f2f;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination-button {
    padding: 8px 12px;
    margin: 0 5px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    cursor: pointer;
    border-radius: 4px;
}

.pagination-button.active {
    background-color: #607360;
    color: white;
    border: 1px solid #607360;
}

.no-recycle-found {
    text-align: center;
    padding: 20px;
    color: #777;
}